
#sp1{
  --i:1
}
#sp2{
  --i:2
}
#sp3{
  --i:3
}
#sp4{
  --i:4
}
#sp5{
  --i:5
}
#sp6{
  --i:6
}
#sp7{
  --i:7
}
#sp8{
  --i:8
}
#sp9{
  --i:9
}
#sp10{
  --i:10
}
#sp11{
  --i:11
}
#sp12{
  --i:12
}
#sp13{
  --i:13
}
#sp14{
  --i:14
}
#sp15{
  --i:15
}
#sp16{
  --i:16
}
#sp17{
  --i:17
}
#sp18{
  --i:18
}
#sp19{
  --i:19
}
#sp20{
  --i:20
}
